// COLORS
$color-light-red: #ff3d54;
$color-very-light-red: #ff8f70;
$color-very-dark-blue: #1f3f5b;

$color-white: #ffffff;
$color-grayish-blue: #c8c8cb;
$color-grayish-blue-2: #ebebeb;
$color-very-dark-grayish-blue: #4b5862;
$color-very-dark-black-blue: #25252d;

$color-light-red-2: #ff3d54;
$color-very-light-red-2: #ff8f70;

$color-very-dark-gray-blue: #2c2d3f;
$color-very-dark-desurated-blue: #3f4164;

$color-very-light-red-3: #ff7a85;

// FONT STYLES
$font-overpass: "Overpass", sans-serif;
$font-ubuntu: "Ubuntu", sans-serif;
$default-font-size: 1.6rem;

// RESPONSIVE BREAKPOINTS
$bp-mobile: 48em; // 768px
