// COLORS
$color-light-red: hsl(353, 100%, 62%);
$color-very-light-red: hsl(13, 100%, 72%);
$color-very-dark-blue: hsl(208, 49%, 24%);

$color-white: hsl(0, 0%, 100%);
$color-grayish-blue: hsl(240, 2%, 79%);
$color-grayish-blue-2: hsl(0, 0, 92%);
$color-very-dark-grayish-blue: hsl(207, 13%, 34%);
$color-very-dark-black-blue: hsl(240, 10%, 16%);

$color-light-red-2: rgb(255, 61, 84);
$color-very-light-red-2: rgb(255, 143, 112);

$color-very-dark-gray-blue: hsl(237, 17%, 21%);
$color-very-dark-desurated-blue: hsl(237, 23%, 32%);

$color-very-light-red-3: hsl(355, 100%, 74%);

// FONT STYLES
$font-overpass: "Overpass", sans-serif;
$font-ubuntu: "Ubuntu", sans-serif;
$default-font-size: 1.6rem;

// RESPONSIVE BREAKPOINTS
$bp-mobile: 48em; // 768px
