.menu {
  @media only screen and (min-width: $bp-mobile) {
    display: flex;
  }

  &__collapse {
    display: block;
    text-align: center;
    margin: 1rem;

    @media only screen and (min-width: $bp-mobile) {
      margin: 0;
    }

    & input {
      position: absolute;
      left: -100rem;
    }

    & input:checked ~ .menu__list {
      display: block;
      height: auto;
      padding: 1rem;
      margin: 1rem auto;
    }

    & input:checked ~ .menu__title span {
      transform: rotate(180deg);
    }
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (min-width: $bp-mobile) {
      color: $color-white;
      padding: 0 1.5rem;
    }

    &--link {
      text-decoration: none;
      color: $color-very-dark-blue;

      @media only screen and (min-width: $bp-mobile) {
        color: $color-white;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__icons {
    margin-left: 0.4rem;
  }

  &__list {
    display: none;
    position: relative;
    height: 0;
    width: 17rem;
    background: $color-grayish-blue-2;
    font-size: 1.5rem;
    border-radius: 5px;

    @media only screen and (min-width: $bp-mobile) {
      display: none;
      position: absolute;
      height: 0;
      width: 13rem;
      background: $color-white;
      font-size: 1.2rem;
      padding: 1rem;
      border-radius: 5px;
    }

    & div {
      padding: 1rem 0;

      @media only screen and (min-width: $bp-mobile) {
        padding: 1rem;
        text-align: left;
      }
    }

    &--link {
      text-decoration: none;
      color: $color-very-dark-blue;
      font-size: 1.5rem;

      &:hover {
        font-weight: bold;
      }
    }
  }

  &__cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid $color-grayish-blue;
    padding: 2rem 0;

    @media only screen and (min-width: $bp-mobile) {
      display: flex;
      flex-direction: row;
      border: none;
    }

    &--link {
      text-decoration: none;
      color: $color-very-dark-blue;
      font-size: $default-font-size;
      padding: 0 4rem;

      @media only screen and (min-width: $bp-mobile) {
        color: $color-white;
        padding: 0 2rem;
      }
    }
  }
}

// ICONS
.icon--white {
  display: none;

  @media only screen and (min-width: $bp-mobile) {
    display: block;
  }
}

.icon--dark {
  display: block;

  @media only screen and (min-width: $bp-mobile) {
    display: none;
  }
}
